[submodule "pack/minpac/start/nvim-lspconfig"]
	path = pack/minpac/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "pack/minpac/start/nvim-cmp"]
	path = pack/minpac/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "pack/minpac/start/cmp-nvim-lsp"]
	path = pack/minpac/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "pack/minpac/start/LuaSnip"]
	path = pack/minpac/start/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip
[submodule "pack/minpac/start/cmp-buffer"]
	path = pack/minpac/start/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule "pack/minpac/start/cmp-path"]
	path = pack/minpac/start/cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule "pack/minpac/start/cmp-cmdline"]
	path = pack/minpac/start/cmp-cmdline
	url = https://github.com/hrsh7th/cmp-cmdline
[submodule "pack/minpac/start/cmp-nvim-lua"]
	path = pack/minpac/start/cmp-nvim-lua
	url = https://github.com/hrsh7th/cmp-nvim-lua
[submodule "pack/minpac/start/lspkind-nvim"]
	path = pack/minpac/start/lspkind-nvim
	url = https://github.com/onsails/lspkind-nvim
[submodule "pack/minpac/start/plenary.nvim"]
	path = pack/minpac/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "pack/minpac/start/telescope.nvim"]
	path = pack/minpac/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "pack/minpac/start/telescope-fzf-native.nvim"]
	path = pack/minpac/start/telescope-fzf-native.nvim
	url = https://github.com/nvim-telescope/telescope-fzf-native.nvim
[submodule "pack/minpac/start/telescope-file-browser.nvim"]
	path = pack/minpac/start/telescope-file-browser.nvim
	url = https://github.com/nvim-telescope/telescope-file-browser.nvim
[submodule "pack/minpac/start/zen-mode.nvim"]
	path = pack/minpac/start/zen-mode.nvim
	url = https://github.com/folke/zen-mode.nvim
[submodule "pack/minpac/start/neoformat"]
	path = pack/minpac/start/neoformat
	url = https://github.com/sbdchd/neoformat
[submodule "pack/minpac/start/mason.nvim"]
	path = pack/minpac/start/mason.nvim
	url = https://github.com/williamboman/mason.nvim.git
[submodule "pack/minpac/start/mason-lspconfig.nvim"]
	path = pack/minpac/start/mason-lspconfig.nvim
	url = https://github.com/williamboman/mason-lspconfig.nvim.git
[submodule "pack/minpac/start/friendly-snippets"]
	path = pack/minpac/start/friendly-snippets
	url = https://github.com/rafamadriz/friendly-snippets.git
[submodule "pack/minpac/start/cmp_luasnip"]
	path = pack/minpac/start/cmp_luasnip
	url = https://github.com/saadparwaiz1/cmp_luasnip.git
